<% provide :title, "Login" %>
<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == :notice ? "success" : "warning" %>">
    <a class="close" data-dismiss="alert">x</a>
    <%= msg %>
  </div>
<% end %>
<div class="container">
  <div class="jumbotron login">
    <%= form_for :login, { url: login_path, :html => { id: 'login-form', onSubmit: "mixpanel.track('login')" } } do |f| %>
      <div class="form-group">
        <%= f.text_field :username, placeholder: "Username", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit "Log in", :class => "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
